!!!
%html{ html_attrs('ja') }
  %head
    %title VimCard
    %link(rel='stylesheet' href='css/bootstrap.min.css')
    %link(rel='stylesheet' href='css/bootstrap-theme.min.css')
    -# %link(rel='stylesheet' href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css')
    -# %link(rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css')
    %script{:src => '//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'}
    %script{:src => 'js/bootstrap.min.js'}
  %body
    .container
      .page-header
        %h1 VimCard

      = yield

    %footer
      .container
        Note that VimCard is only tested in GoogleChrome for "Supporting multibrowser is Sugoi-Mendokusai" reason.

:css
  .container{
    max-width: none !important;
    width: 970px;
  }
  footer .container{
    background: #f5f5f5;
    padding: 20px 0;
    margin-top: 50px;
    color: #999;
    border-radius: 5px;
    text-align: center;
  }
